*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Restaurant.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px  12px;
    position: relative;
    font-size: 18pt;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px; 
}
.text-box h3{
    font-size: 25px;
}
.text-box h3{
    font-size: 25px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 12px;
    color: #FFFFFF
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.row{
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
.home h1{
    color: black;
    text-align: center;
}
.home p{
    color: black;
    text-align: center;
    padding-top: 30px;
}
.home h2{
    text-align: center;
    padding-top: 50px;
}

/*---------footer----*/
.footer{
    width: 100%;
    text-align: center;
    padding:  30px 0;
    background:#EADDC4 ;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}
.imageIcon ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
